@import url('https://fonts.googleapis.com/css?family=Open+Sans');
.panel {
  margin-bottom: 15px;
  -webkit-border-radius: 10px 10px 5px 5px;
  -moz-border-radius: 10px 10px 5px 5px;
  border-radius: 10px 10px 5px 5px;
}
.panel .panel-header {
  background: #175adc;
  padding: 16px 16px 14px;
  -webkit-border-radius: 10px 10px 0 0 ;
  -moz-border-radius: 10px 10px 0 0 ;
  border-radius: 10px 10px 0 0 ;
  text-align: right;
}
.panel .panel-header p {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: #fff;
  text-transform: uppercase;
  margin: 0;
}
.panel .panel-body {
  padding: 10px;
  border-radius: 0 0 5px 5px;
  border: 1px solid #c8c8c8;
  box-shadow: 0 4px 1rem rgba(0, 0, 0, 0.05), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
}
