.lead {
    color: #a5a5a5;
    font-family: inherit;
}

.apresentacao {
    margin: 50px 0 40px 0;
}

.apresentacao h1 {
    margin-bottom: 17px;
}

.card {
    padding: 0 !important;
}
.header-filtro {
    color: #fff;
    background-color: rgb(0, 40, 68);
}

.resultado-noticias {
    margin-bottom: 60px;
}
.label {
    text-transform: capitalize;
}
.l-esporte {
    background: #00a238;
}
.l-politica {
    background: #010ea2;
}

.imagem-header {
    width: 345px;
    height: 170px;
}

.sem-resultado {
    color: #ffffff;
    background-color: #e21803;
    border-color: #b11404;
    text-align: center;
}