/*    Font Variable
----------------------*/
/*    Color Variable
-----------------------*/
/*    Solid Color
------------------*/
/*    Brand color
----------------------*/
.progress-bar {
  background-color: #4680ff;
}
.progress-bar-primary {
  background-color: #4680ff;
}
.progress-bar-success {
  background-color: #26DAD2;
}
.progress-bar-info {
  background-color: #62d1f3;
}
.progress-bar-danger {
  background-color: #fc6180;
}
.progress-bar-warning {
  background-color: #ffb64d;
}
.progress-bar-pink {
  background-color: #e6a1f2;
}
.progress {
  height: 6px;
}
.progress-bar.active,
.progress.active .progress-bar {
  animation: 2s linear 0s normal none infinite running progress-bar-stripes;
}
.progress-vertical {
  display: inline-block;
  height: 250px;
  margin-bottom: 0;
  margin-right: 20px;
  min-height: 250px;
  position: relative;
}
.progress-vertical-bottom {
  display: inline-block;
  height: 250px;
  margin-bottom: 0;
  margin-right: 20px;
  min-height: 250px;
  position: relative;
  transform: rotate(180deg);
}
.progress-animated {
  animation-duration: 5s;
  animation-name: myanimation;
  transition: all 5s ease 0s;
}
@keyframes myanimation {
  0% {
    width: 0;
  }
}
@keyframes myanimation {
  0% {
    width: 0;
  }
}
.browser .progress {
  height: 8px;
}
